    <%- include('header.ejs') %>
    <main class='signin clearfix'>
            <h1>Dashboard</h1>

            <table>
                <tbody>
                    <tr>
                        <th>Debts</th>
                        <th>Current</th>
                        <th>Late</th>
                    </tr>
                    <% if (typeof debtors !== 'undefined'){ %>
                    <tr>
                        <td><%= debtors.debtsCount %></td>
                        <td><%= debtors.currentPayments %></td>
                        <td><%= debtors.latePayments %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
    </main>
</body>
</html>