<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Template</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <section class="logo"><span>&#128507;</span><span class="under">&#9889;</span></section>
        <nav>
             <ul>
                 <li><a href="/dashboard">Dashboard</a></li>
             </ul>
         </nav>
         <section class="account">
            <% if (typeof user !== 'undefined'){ %> 
                <% if (user.admin){ %> 
                    <%= user.email %> (Administrator)
                <% }else{ %>
                    <%= user.email %>
                <% } %>
                <a href="/auth/logout">Logout</a>
            <% }else{ %>
                <a href="/auth/login">Login</a>
            <% } %>
           </section>
     </header>

    <% if (typeof messages !== 'undefined'){ %>
        <% messages.forEach( (error)=> { %>
            <p class='message'><%= error %></p>
        <% }) %>
    <% } %>
    
    <main>
        <h1>Welcome</h1>
        <p>This application was designed to manage debts accumalated by participates of subsidized fundings. These debts don't accrue interest but need to be paid in full in order to continue benefiting from the program or similiar programs.</p>
        <p>Access is limited to users created by the page administrator.</p>
    </main>
   
</body>
</html>