<%- include('header.ejs') %>
    
    <main class="d-flex justify-content-center container-fluid flex-fill">
        <div class="card w-75 text-center border-0">
            <div class="card-body">
                <h2 class="card-title">Welcome</h2>
                <p class="card-text">This application's design is for managing debts accumulated by a participant. These debts don't accrue interest but must be paid in full to continue benefiting from the program or similar programs.</p>
                <p class="card-text">Access is limited to users created by the page administrator.</p>
            </div>
        </div>
    </main>

<%- include('footer.ejs') %>