<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Template</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <header class="navbar navbar-expand-lg bg-light" style="padding: 1em">
        <section class="logo"><span>&#128507;</span><span class="under">&#9889;</span></section>
        <nav>
             <ul class="nav justify-content-center">
                <% if (typeof user !== 'undefined'){ %> <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li> <% } %>
             </ul>
        </nav>
        <section class="account">
            <% if (typeof user !== 'undefined'){ %> 
                <% if (user.admin){ %> 
                    <%= user.email %> (Administrator)
                <% }else{ %>
                    <%= user.email %>
                <% } %>
                <a href="/auth/logout">Logout</a>
            <% }else{ %>
                <a href="/auth/login">Login</a>
            <% } %>
        </section>
    </header>

    <% if (typeof messages !== 'undefined'){ %>
        <% messages.forEach( (error)=> { %>
            <p class='message'><%= error %></p>
        <% }) %>
    <% } %>
    
    <main class="d-flex justify-content-center">
        <div class="card w-50 text-center">
            <div class="card-body">
                <h2 class="card-title">Welcome</h2>
                <p class="card-text">This application's design is for managing debts accumulated by a participant. These debts don't accrue interest but must be paid in full to continue benefiting from the program or similar programs.</p>
                <p class="card-text">Access is limited to users created by the page administrator.</p>
            </div>
        </div>
    </main>

<%- include('footer.ejs') %>