<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Template</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/asyncFunc">Async Function</a></li>
            <li><a href="/func">Function</a></li>
        </ul>
    </nav>
    <main class='signin clearfix'>
            <h1>Login</h1>
            <form class="login-form" action="../login" method="POST">
                <input type="text" name='email' placeholder="email">
                <input type="password" name='password' placeholder="password">
                <input type="submit" value='Submit'>
            </form>
        </section>
    </main>
</body>
</html>