<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Template</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <section><h1>&#128507; &#9889;</h1></section>
        <nav>
             <ul>
                 <li><a href="/dashboard">Dashboard</a></li>
             </ul>
         </nav>
         <section>
            <% if (typeof user !== 'undefined'){ %> 
                <% if (user.admin){ %> 
                    <%= user.email %> (Administrator)
                <% }else{ %>
                    <%= user.email %>
                <% } %>
                <a href="/auth/logout">Logout</a>
            <% } %>
           </section>
     </header>

    <% if (typeof messages !== 'undefined'){ %>
        <% messages.forEach( (error)=> { %>
            <p class='message'><%= error %></p>
        <% }) %>
    <% } %>
    
    <main>
        <h1>Hello World.</h1>
        <p>Welcome to this initial template, creation starts here.</p>
        <% if (typeof user == 'undefined'){ %> 
            <a href="/auth/login">Login</a>
        <% } %>
    </main>
   
</body>
</html>