<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Template</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="clearfix">
        <section class="logo"><span>&#128507;</span><span class="under">&#9889;</span></section>
       <nav>
            <!-- <ul>
                <li><a href="/auth/admin">Admin Creation</a></li>
            </ul> -->
        </nav>
        <section class="account">
            <!-- <a href="/">Authenticate</a> -->
        </section>
    </header>
    
    <% if (typeof messages !== 'undefined'){ %>
        <% messages.forEach( (error)=> { %>
            <p class='message'><%= error %></p>
        <% }) %>
    <% } %>
    
    <main class='signin clearfix'>
            <h1>Login</h1>
            <form class="login-form" action="/auth/login" method="POST">
                <input type="text" name='email' placeholder="email">
                <input type="password" name='password' placeholder="password">
                <input type="submit" value='Submit'>
                <!-- <a href="auth/forgot/">Forgot Password</a> -->
            </form>
        </section>
    </main>
</body>
</html>