<%- include('header.ejs') %>
    
    <main class="d-flex justify-content-center container-fluid flex-fill">
        <section class="w-50 gap-3">
            <h1>Login</h1>
            <form class="row g-3" action="/auth/login" method="POST">
                <input type="text" class="form-control" name='email' placeholder="email">
                <input type="password" class="form-control" name='password' placeholder="password">
                <input type="submit" class="btn btn-primary">
                <!-- <a href="auth/forgot/">Forgot Password</a> -->
            </form>
        </section>
    </main>

<%- include('footer.ejs') %>