<%- include('header.ejs') %>
    
    <main class='signin clearfix'>
        <% if(typeof codeInfo !== 'undefined'){ %> 
            <h1>Account Verification Code</h1>
            <p>Send the following code and link to the user: <%= codeInfo.email %></p>
            <p>Code: <%= codeInfo.code %></p>
            <p>Link: <a href="/auth/verifyAccount">thispage.com/auth/verifyAccount</a></p>
        <% }else{ %> 
            
        <% } %>
    </main>

<%- include('footer.ejs') %>