<%- include('header.ejs') %>

    <main class='signin clearfix'>
        <h1>Register Payment</h1>
        <form action="/registerpayment" method="POST">
            <label>File ID:</label> <input type="text" name="fileid">
            <label>Payment:</label> <input type="number" name="payment">
            <label>Date:</label> <input type="date" name="date">
            <input type="submit" class="submitbutton">
        </form>
    </main>
</body>
</html>