<%- include('header.ejs') %>

    <main class="d-flex justify-content-center">
        <section>
            <h1>Register Payment</h1>
            <form action="/registerpayment" method="POST">
                <label>File ID:</label> <input type="text" name="fileid">
                <label>Payment:</label> <input type="number" name="payment">
                <label>Date:</label> <input type="date" name="date">
                <label>Comments:</label> <input type="text" name="comment">
                <input type="submit" class="submitbutton">
            </form>
        </section>
    </main>

<%- include('footer.ejs') %>