<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Template</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
       <section><h1>&#128507; &#9889;</h1></section>
       <nav>
            <ul>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
        <section>
            <% if (typeof user !== 'undefined'){ %> 
                <% if (user.admin){ %> 
                    <%= user.email %> (Administrator) 
                <% }else{ %>
                    <%= user.email %>
                <% } %>
                <a href="/auth/logout">Logout</a>
            <% }else{ %>
                <a href="/auth/login">Login</a>
            <% } %>
           </section>
    </header>
    
    <% if (typeof messages !== 'undefined'){ %>
        <% messages.forEach( (error)=> { %>
            <p class='message'><%= error %></p>
        <% }) %>
    <% } %>
    
    <main class='signin clearfix'>
            <h1>Reset Password</h1>
            <form class="login-form" action="/auth/verifyAccount" method="POST">
                <input type="text" name='email' placeholder="email">
                <input type="text" name='password' placeholder="password">
                <input type="text" name='confirmPassword' placeholder="confirm password">
                <!-- <input type="password" name='confirmPassword' placeholder="password"> -->
                <input type="submit" value='Submit'>
            </form>
        </section>
    </main>
</body>
</html>