<%- include('header.ejs') %>
    
    <main class='signin clearfix'>
        <h1>Reset Password</h1>
        <form class="login-form" action="/auth/verifyAccount" method="POST">
            <% if (typeof token !== 'undefined'){ %>
                <input type="hidden" name='token' value="<%= token %>">
            <% }else { %>
                <input type="text" name='token' placeholder="Reset Code">
            <% } %>

            <% if (typeof userid !== 'undefined'){ %>
                <input type="hidden" name='email' value="<%= userid %>"> 
            <% }else { %>
                <input type="text" name='email' placeholder="User Name">
            <% } %>

            <input type="text" name='password' placeholder="new password">
            <input type="text" name='confirmPassword' placeholder="confirm new password">
            <input type="submit" value='Submit'>
        </form>
    </main>

<%- include('footer.ejs') %>