/* Box Model Hack */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html, body {
     height: 100%;
}

body {
     font-size: 1.5rem;
}

main{
     margin-top: 2em;
     margin-bottom: 2em;
}

/******************************************
/* LAYOUT
/*******************************************/

.logo{
     flex-grow: 1;
     line-height: 100%;
}


.logo{
     font-size: 3rem;
}
.under{
     margin-left: -5rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1{
     text-align: center;
}
.comment{
     font-weight: bolder;
     font-style: italic;
     font-size: smaller;
}

/* ------------------------ */

.printview, .printview tr, .printview th, .printview td{
     border: none;
}
.printview .left{
     text-align: left;
}
.printview .right{
     text-align: right;
} 


@media print {
     .message, header *, footer *{
          display: none !important;
     }

     header{
          border: none !important;
          opacity: 0;
     }

     select{
          border: none;
          appearance: none;
     }
     body{
          font-size: 1rem;
     }

     .printview .highlight{
          background-color: lightgrey;
     }
}
